In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('players_fifa23.csv')

In [3]:
df.head()

,ID,Name,FullName,Age,Height,Weight,PhotoUrl,Nationality,Overall,Potential,...,LMRating,CMRating,RMRating,LWBRating,CDMRating,RWBRating,LBRating,CBRating,RBRating,GKRating
0,158023,L. Messi,Lionel Messi,35,169,67,https://cdn.sofifa.net/players/158/023/23_60.png,Argentina,91,91,...,91,88,91,67,66,67,62,53,62,22
1,165153,K. Benzema,Karim Benzema,34,185,81,https://cdn.sofifa.net/players/165/153/23_60.png,France,91,91,...,89,84,89,67,67,67,63,58,63,21
2,188545,R. Lewandowski,Robert Lewandowski,33,185,81,https://cdn.sofifa.net/players/188/545/23_60.png,Poland,91,91,...,86,83,86,67,69,67,64,63,64,22
3,192985,K. De Bruyne,Kevin De Bruyne,31,181,70,https://cdn.sofifa.net/players/192/985/23_60.png,Belgium,91,91,...,91,91,91,82,82,82,78,72,78,24
4,231747,K. Mbappé,Kylian Mbappé,23,182,73,https://cdn.sofifa.net/players/231/747/23_60.png,France,91,95,...,92,84,92,70,66,70,66,57,66,21

In [4]:
df.keys()

Index(['ID', 'Name', 'FullName', 'Age', 'Height', 'Weight', 'PhotoUrl',
       'Nationality', 'Overall', 'Potential', 'Growth', 'TotalStats',
       'BaseStats', 'Positions', 'BestPosition', 'Club', 'ValueEUR', 'WageEUR',
       'ReleaseClause', 'ClubPosition', 'ContractUntil', 'ClubNumber',
       'ClubJoined', 'OnLoad', 'NationalTeam', 'NationalPosition',
       'NationalNumber', 'PreferredFoot', 'IntReputation', 'WeakFoot',
       'SkillMoves', 'AttackingWorkRate', 'DefensiveWorkRate', 'PaceTotal',
       'ShootingTotal', 'PassingTotal', 'DribblingTotal', 'DefendingTotal',
       'PhysicalityTotal', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'STRating', 'LWRating', 'LFRating', 'CFRating', 'RFRating', 'RWRating',
       'CAMRating', 'LMRating', 'CMRating', 'RMRating', 'LWBRating',
       'CDMRating', 'RWBRating', 'LBRating', 'CBRating', 'RBRating',
       'GKRating'],
      dtype='object')

In [5]:
df = df[df.BestPosition != 'GK'] # drop goalkeepers

In [6]:
y = np.array(df['ValueEUR'])

In [7]:
to_be_dropped = ['Name', 'FullName', 'PhotoUrl', 'Growth', 'TotalStats', 'ValueEUR','ClubNumber', 
                 'NationalNumber', 'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',]

In [8]:
df = df.drop(to_be_dropped, axis=1)
df

,ID,Age,Height,Weight,Nationality,Overall,Potential,BaseStats,Positions,BestPosition,...,LMRating,CMRating,RMRating,LWBRating,CDMRating,RWBRating,LBRating,CBRating,RBRating,GKRating
0,158023,35,169,67,Argentina,91,91,452,RW,CAM,...,91,88,91,67,66,67,62,53,62,22
1,165153,34,185,81,France,91,91,455,"CF,ST",CF,...,89,84,89,67,67,67,63,58,63,21
2,188545,33,185,81,Poland,91,91,458,ST,ST,...,86,83,86,67,69,67,64,63,64,22
3,192985,31,181,70,Belgium,91,91,483,"CM,CAM",CM,...,91,91,91,82,82,82,78,72,78,24
4,231747,23,182,73,France,91,95,470,"ST,LW",ST,...,92,84,92,70,66,70,66,57,66,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18534,243725,21,174,68,Republic of Ireland,47,56,274,"ST,RM",CAM,...,50,44,50,41,38,41,40,36,40,15
18535,261933,17,175,60,China PR,47,57,267,CDM,CDM,...,45,45,45,47,48,47,49,49,49,15
18536,267823,18,170,65,Northern Ireland,47,67,277,CM,RM,...,52,49,52,46,44,46,46,42,46,17
18537,267824,17,178,65,Republic of Ireland,47,61,226,CB,CB,...,33,33,33,44,42,44,47,49,47,15
18538,261424,25,176,66,India,47,50,269,LB,LB,...,44,40,44,46,43,46,47,47,47,19

In [9]:
top_5_nats = ['Brazil','Belgium','Argentina','France','England']

nats_from_5_to_10 = ['Italy','Spain','Netherlands','Portugal','Denmark']

nats_from_10_to_20 = ['Germany','Croatia','Mexico','Uruguay','Switzerland',
                     'United States','Colombia','Senegal','Wales','Iran',]

In [10]:
df.loc[df['Nationality'].isin(top_5_nats), 'Nationality'] = 3
df.loc[df['Nationality'].isin(nats_from_5_to_10), 'Nationality'] = 2
df.loc[df['Nationality'].isin(nats_from_10_to_20), 'Nationality'] = 1
df.loc[df['Nationality'].isin([1,2,3]) == False, 'Nationality'] = 0

In [11]:
df

,ID,Age,Height,Weight,Nationality,Overall,Potential,BaseStats,Positions,BestPosition,...,LMRating,CMRating,RMRating,LWBRating,CDMRating,RWBRating,LBRating,CBRating,RBRating,GKRating
0,158023,35,169,67,3,91,91,452,RW,CAM,...,91,88,91,67,66,67,62,53,62,22
1,165153,34,185,81,3,91,91,455,"CF,ST",CF,...,89,84,89,67,67,67,63,58,63,21
2,188545,33,185,81,0,91,91,458,ST,ST,...,86,83,86,67,69,67,64,63,64,22
3,192985,31,181,70,3,91,91,483,"CM,CAM",CM,...,91,91,91,82,82,82,78,72,78,24
4,231747,23,182,73,3,91,95,470,"ST,LW",ST,...,92,84,92,70,66,70,66,57,66,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18534,243725,21,174,68,0,47,56,274,"ST,RM",CAM,...,50,44,50,41,38,41,40,36,40,15
18535,261933,17,175,60,0,47,57,267,CDM,CDM,...,45,45,45,47,48,47,49,49,49,15
18536,267823,18,170,65,0,47,67,277,CM,RM,...,52,49,52,46,44,46,46,42,46,17
18537,267824,17,178,65,0,47,61,226,CB,CB,...,33,33,33,44,42,44,47,49,47,15
18538,261424,25,176,66,0,47,50,269,LB,LB,...,44,40,44,46,43,46,47,47,47,19

In [12]:
positions = ['GK','RB','CB','LB','RWB','CDM','LWB','RM','CM','LM','CAM','RW','RF','CF','LF','LW','ST']
df[positions] = 0

In [13]:
for pos in positions:
    df.loc[df['BestPosition'] == pos, pos] += 1
    df.loc[df['ClubPosition'] == pos, pos] += 1
    df.loc[df['NationalPosition'] == pos, pos] += 1

In [14]:
df.reset_index(inplace = True)

df = df.drop('index', axis=1)

In [15]:
for i in range(len(df)):
    df['Positions'][i] = df['Positions'][i].split(',')

<ipython-input-15-f2fd1884f736>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Positions'][i] = df['Positions'][i].split(',')

In [16]:
for i in range(len(df)):
    for pos in positions:
        if pos in df['Positions'][i]:
            df[pos][i] += 1

<ipython-input-16-4ea4a865103b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[pos][i] += 1

In [17]:
df

,ID,Age,Height,Weight,Nationality,Overall,Potential,BaseStats,Positions,BestPosition,...,RM,CM,LM,CAM,RW,RF,CF,LF,LW,ST
0,158023,35,169,67,3,91,91,452,[RW],CAM,...,0,0,0,1,3,0,0,0,0,0
1,165153,34,185,81,3,91,91,455,"[CF, ST]",CF,...,0,0,0,0,0,0,3,0,0,2
2,188545,33,185,81,0,91,91,458,[ST],ST,...,0,0,0,0,0,0,0,0,0,4
3,192985,31,181,70,3,91,91,483,"[CM, CAM]",CM,...,0,3,0,1,0,1,0,0,0,0
4,231747,23,182,73,3,91,95,470,"[ST, LW]",ST,...,0,0,0,0,0,0,0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16473,243725,21,174,68,0,47,56,274,"[ST, RM]",CAM,...,1,0,0,1,0,0,0,0,0,1
16474,261933,17,175,60,0,47,57,267,[CDM],CDM,...,0,0,0,0,0,0,0,0,0,0
16475,267823,18,170,65,0,47,67,277,[CM],RM,...,1,1,0,0,0,0,0,0,0,0
16476,267824,17,178,65,0,47,61,226,[CB],CB,...,0,0,0,0,0,0,0,0,0,0
16477,261424,25,176,66,0,47,50,269,[LB],LB,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df = df.drop(['Positions','BestPosition','ClubPosition','NationalPosition'], axis=1)

In [19]:
df.loc[df['NationalTeam'].isin(top_5_nats), 'NationalTeam'] = 3
df.loc[df['NationalTeam'].isin(nats_from_5_to_10), 'NationalTeam'] = 2
df.loc[df['NationalTeam'].isin(nats_from_10_to_20), 'NationalTeam'] = 1

df.loc[df['NationalTeam'] == 'Not in team', 'NationalTeam'] = -1

df.loc[df['NationalTeam'].isin([1,2,3,-1]) == False, 'NationalTeam'] = 0

In [20]:
val = np.array([2023., 2025., 2024., 2026., 2027., 2022., 2028., 2031.,2032.]) #df['ContractUntil'].unique()

In [21]:
df.loc[df['ContractUntil'].isin(val) == False, 'ContractUntil'] = -1

In [22]:
df['ContractUntil'] = df['ContractUntil'] - 2022
df.loc[df['ContractUntil'] < 0, 'ContractUntil'] = -1

In [23]:
df['ContractUntil'].unique()

array([ 1.,  3.,  2.,  4.,  5.,  0.,  6., -1.,  9., 10.])

In [24]:
df.loc[df['OnLoad'] == False, 'OnLoad'] = -1
df.loc[df['OnLoad'] == True, 'OnLoad'] = 1

In [25]:
df.loc[df['AttackingWorkRate'] == 'Low', 'AttackingWorkRate'] = 0
df.loc[df['AttackingWorkRate'] == 'Medium', 'AttackingWorkRate'] = 1
df.loc[df['AttackingWorkRate'] == 'High', 'AttackingWorkRate'] = 2

In [26]:
df.loc[df['DefensiveWorkRate'] == 'Low', 'DefensiveWorkRate'] = 0
df.loc[df['DefensiveWorkRate'] == 'Medium', 'DefensiveWorkRate'] = 1
df.loc[df['DefensiveWorkRate'] == 'High', 'DefensiveWorkRate'] = 2

In [27]:
df.loc[df['PreferredFoot'] == 'Left', 'PreferredFoot'] = 1
df.loc[df['PreferredFoot'] == 'Right', 'PreferredFoot'] = -1

In [28]:
df['Club'].unique()

array(['Paris Saint-Germain', 'Real Madrid CF', 'FC Barcelona',
       'Manchester City', 'Liverpool', 'Manchester United',
       'Tottenham Hotspur', 'FC Bayern München', 'Chelsea', 'Lazio',
       'Inter', 'Roma', 'Villarreal CF', 'RB Leipzig',
       'Borussia Dortmund', 'Real Betis Balompié', 'RC Celta de Vigo',
       'Juventus', 'Sevilla FC', 'Atlético de Madrid', 'Leicester City',
       'Bayer 04 Leverkusen', 'AC Milan', 'Galatasaray SK',
       'Club Nacional de Football', 'Ajax', 'U.S. Sassuolo Calcio',
       'Arsenal', 'AS Monaco', 'Toronto FC', 'Athletic Club de Bilbao',
       'Newcastle United', 'Los Angeles FC', 'AFC Richmond',
       'West Ham United', 'Real Sociedad', 'Aston Villa',
       'TSG Hoffenheim', 'Wolverhampton Wanderers', 'Palmeiras', 'Napoli',
       'PSV', 'Atalanta', 'SL Benfica', 'Al Nassr', 'Valencia CF',
       'FC Porto', 'Sport-Club Freiburg', 'Club Athletico Paranaense',
       'RCD Espanyol de Barcelona', 'Everton', 'Olympique de Marseille',
       'Royal Antwerp FC', 'Bologna', 'Sporting CP', 'Crystal Palace',
       'Eintracht Frankfurt', 'Fiorentina', 'Stade Rennais FC',
       'Olympique Lyonnais', 'Trabzonspor', 'Clube Atlético Mineiro',
       'Flamengo', 'RB Bragantino', 'Sport Club Corinthians Paulista',
       'Fulham', 'Al Shabab', 'RSC Anderlecht', 'Shanghai Port FC',
       'Southampton', 'Montpellier Hérault SC', 'OGC Nice',
       'Borussia Mönchengladbach', 'SC Braga', 'Racing Club de Lens',
       'Leeds United', 'Getafe CF', 'Internacional', 'Fluminense',
       'Dynamo Kyiv', 'Nottingham Forest', 'VfL Wolfsburg',
       'Unión Deportiva Las Palmas', 'Club Brugge KV', 'Udinese Calcio',
       'Houston Dynamo', 'LOSC Lille', 'US Salernitana 1919',
       'New England Revolution', 'Feyenoord', 'Al Fayha',
       'Brighton & Hove Albion', 'FC Nantes', 'Santos', 'CA Osasuna',
       '1. FC Köln', 'Beşiktaş JK', 'Brøndby IF', 'Rayo Vallecano',
       'LA Galaxy', 'Minnesota United FC', 'Fenerbahçe SK',
       'Seattle Sounders FC', 'Adana Demirspor', 'RC Strasbourg Alsace',
       'Columbus Crew', 'KRC Genk', 'Wuhan Three Towns', 'Lecce',
       'Cádiz CF', 'SK Slavia Praha', 'VfB Stuttgart', 'Granada CF',
       'River Plate', 'Torino F.C.', 'Shakhtar Donetsk', 'Watford',
       'Brentford', 'U.C. Sampdoria', 'Al Hilal',
       'İstanbul Başakşehir FK', 'Austin FC', 'Atlanta United',
       'Al Ittihad', 'AFC Bournemouth', 'Rangers FC', 'Hellas Verona',
       'RCD Mallorca', 'Inter Miami CF', 'AC Monza', 'Antalyaspor',
       'Boca Juniors', 'Levante Unión Deportiva', 'Girona FC',
       'AZ Alkmaar', 'Stade de Reims', 'Free agent', 'São Paulo',
       'Real Sporting de Gijón', 'FC Augsburg', 'Wuhan FC', 'Celtic',
       'Angers SCO', 'Fortuna Sittard', '1. FSV Mainz 05',
       'VfL Bochum 1848', 'Al Wehda', 'PAOK', 'Stade Brestois 29',
       'Dinamo Zagreb', 'Elche CF', 'Unión Deportiva Almería',
       'Melbourne Victory', '1. FC Union Berlin', 'Club Atlético Colón',
       'Real Oviedo', 'FC Sion', 'Vélez Sarsfield', 'Hertha BSC',
       'Real Valladolid CF', 'AC Sparta Praha', 'Hajduk Split',
       'AEK Athens', 'Nashville SC', 'FC Midtjylland', 'KAA Gent',
       'Universidad Católica', 'Club Olimpia', 'Panathinaikos FC',
       'Shenzhen FC', 'Club Atlético Independiente', 'Racing Club',
       'BSC Young Boys', 'Racing Santander', 'Fatih Karagümrük S.K.',
       'Ettifaq FC', 'Chicago Fire Football Club', 'Clermont Foot 63',
       'Ferencvárosi TC', 'F.C. København', 'FC Cincinnati',
       'Portland Timbers', 'Burnley', 'FC Utrecht', 'US Cremonese',
       'Godoy Cruz', 'Empoli', 'Rio Ave FC', 'Servette FC',
       'América Futebol Clube', 'Ceará Sporting Club', 'Deportivo Alavés',
       'Estudiantes de La Plata', 'FC Viktoria Plzeň', 'Al Ain FC',
       'Parma', 'FC Schalke 04', 'FC Lugano', 'New York City FC',
       'Demir Grup Sivasspor', 'Adelaide United', 'FC Twente',
       'MKE Ankaragücü', 'Cuiabá', 'ESTAC Troyes', 'New York Red Bulls',
       'FC Girondins de Bordeaux', 'FC Red Bull Salzburg', 'FC Lorient',
       'SV Werder Bremen', 'Gil Vicente FC', 'FC Dallas',
       'Royale Union Saint-Gilloise', 'Al Taawoun', 'Pisa',
       'Club Atlético Talleres', 'Hull City', 'Club de Foot Montréal',
       "Newell's Old Boys", 'Al Fateh', 'Vitesse',
       'Atlético Clube Goianiense', 'DSC Arminia Bielefeld', 'Daegu FC',
       'Philadelphia Union', 'Blackburn Rovers', 'FC Metz',
       'Club Libertad', 'Orlando Pirates', 'Sheffield United',
       'Norwich City', 'Abha Club', 'Clube Sport Marítimo',
       'West Bromwich Albion', 'Venezia FC', 'Stade Malherbe Caen',
       'D.C. United', 'Club Atlético Huracán', 'Zhejiang Professional FC',
       'Malmö FF', 'Gazişehir Gaziantep F.K.', 'Atakaş Hatayspor',
       'Sporting Kansas City', 'Cagliari', 'Gimnasia y Esgrima La Plata',
       'Guangzhou City', 'Club Atlético Lanús', 'Genoa', 'SD Eibar',
       'Coventry City', 'KV Mechelen', 'Argentinos Juniors',
       'San Jose Earthquakes', 'Aytemiz Alanyaspor',
       'Royal Charleroi S.C.', 'CD Leganés', 'Al Adalah', 'KV Oostende',
       'Orlando City Soccer Club', 'Standard de Liège',
       'Shanghai Shenhua FC', 'FBC Melgar', 'Henan Songshan Longmen FC',
       'N.E.C. Nijmegen', 'Deportivo Ñublense', 'Boavista FC',
       'KVC Westerlo', 'Vitória de Guimarães', 'Queens Park Rangers',
       'Shandong Taishan', 'Fortaleza', 'Club Atlético Tigre',
       'Mamelodi Sundowns FC', 'Colo-Colo', 'Kasimpaşa SK',
       'Independiente del Valle', 'Valenciennes FC',
       'Jeonbuk Hyundai Motors', 'Spezia', 'Deportivo Cali', 'UD Ibiza',
       'Club Atlético Aldosivi', 'Suwon Samsung Bluewings', 'CD Mirandés',
       'İttifak Holding Konyaspor', 'FK Bodø/Glimt', 'Hamburger SV',
       'Charlotte FC', 'Club Deportes Tolima', 'Kaizer Chiefs',
       'Toulouse Football Club', 'Damac FC', 'Casa Pia', 'FC Seoul',
       'KV Kortrijk', 'AJ Auxerre', 'Frosinone', 'Bristol City',
       'Rosario Central', 'Real Salt Lake', 'Swansea City', 'AC Ajaccio',
       '1. FC Magdeburg', 'Middlesbrough', 'Oud-Heverlee Leuven',
       'CD Tenerife', 'Reading', 'Málaga CF', 'Jeju United FC',
       'Urbs Reggina 1914', 'Cosenza', 'Atlético Tucumán',
       'FC St. Gallen 1879', 'APOEL Nicosia FC', 'Al Raed',
       'Club Atlético Banfield', 'LDU Quito',
       'Shijiazhuang Ever Bright F.C.', 'SD Huesca', 'Changchun Yatai FC',
       'Yukatel Kayserispor', 'En Avant de Guingamp', 'Atlético Nacional',
       'Chengdu Rongcheng F.C.', 'SV Darmstadt 98',
       'FC Paços de Ferreira', 'Platense', 'GZT Giresunspor', 'Como',
       'Futebol Clube de Famalicão', 'Western United FC', 'SK Sturm Graz',
       'KAS Eupen', 'Club Cerro Porteño', 'CD Everton de Viña del Mar',
       'Defensa y Justicia', 'Nîmes Olympique', 'Paris FC',
       'Independiente Medellín', 'Heart of Midlothian', 'Real Zaragoza',
       'Macarthur FC', 'Pogoń Szczecin', 'Ascoli', 'Portimonense SC',
       'KSV Cercle Brugge', 'Al Khaleej', 'Legia Warszawa', 'Millwall',
       'Hammarby IF', 'Benevento', 'Vancouver Whitecaps FC',
       'Djurgårdens IF', 'Chamois Niortais Football Club', 'Hannover 96',
       'IF Elfsborg', 'Fortuna Düsseldorf', 'Santa Clara',
       'Club Alianza Lima', 'Bari', 'CFR Cluj', 'SV Sandhausen',
       'Piast Gliwice', 'Sint-Truidense VV', 'Ulsan Hyundai FC',
       '1. FC Nürnberg', 'Preston North End', 'SC Heerenveen',
       'FCSB (Steaua)', 'Unión La Calera', 'Colorado Rapids',
       'FC Cartagena', 'Club Atlético Sarmiento', 'Hibernian',
       'LASK Linz', 'Stoke City', 'Estoril Praia',
       'C.D. Universidad Católica del Ecuador', 'SD Ponferradina',
       'Lech Poznań', 'Club Atlético Peñarol', 'AS Saint-Étienne',
       'Club Sol de América', 'San Lorenzo de Almagro', 'Aalborg BK',
       'SpVgg Greuther Fürth', '1. FC Kaiserslautern', 'SK Rapid Wien',
       'Go Ahead Eagles', 'Burgos CF', 'Al Batin', 'Beijing Guoan FC',
       'Derby County', 'FC Sochaux-Montbéliard', 'FC Zürich', 'SPAL',
       'CD Lugo', 'FC Vizela', 'Luton Town', 'Club Sporting Cristal',
       'Junior FC', 'Karlsruher SC', 'Palermo', 'Melbourne City FC',
       'Al Tai', 'Brescia', 'Cienciano', 'Molde FK',
       '1. FC Heidenheim 1846', 'Liverpool Fútbol Club', 'FC St. Pauli',
       'Pohang Steelers', 'América de Cali', 'Sparta Rotterdam',
       'Dijon FCO', 'Sheffield Wednesday', 'Górnik Zabrze',
       'Western Sydney Wanderers', 'Club Atlético River Plate',
       'Raków Częstochowa', 'Ternana', 'FC Luzern', 'Cardiff City',
       'Modena', 'AIK', 'FC Arouca', 'Rotherham United',
       'F.C. Hansa Rostock', 'Vålerenga Fotball', 'FC Ingolstadt 04',
       'Huddersfield Town', 'Patronato', 'Villarreal Club de Fútbol B',
       'Birmingham City', 'SV Zulte Waregem', 'Guangzhou FC',
       'FC Groningen', 'Blackpool', 'Holstein Kiel', 'SV Ried',
       'Silkeborg IF', 'Rosenborg BK', 'Peterborough United',
       'FC Farul Constanța', 'Wigan Athletic', 'Suwon FC',
       'SC Paderborn 07', 'BK Häcken', 'Lyngby BK',
       'Grasshopper Club Zürich', 'Le Havre AC', 'SSV Jahn Regensburg',
       'Lillestrøm SK', 'Universitatea Craiova', 'IFK Norrköping',
       'Viking FK', 'FC Basel 1893', 'Club The Strongest',
       'Unión de Santa Fe', 'Incheon United FC', 'Perth Glory',
       'Eintracht Braunschweig', 'Perugia', 'FC Andorra',
       'ATK Mohun Bagan FC', 'Aarhus GF', 'Ümraniyespor', 'CS Emelec',
       'Randers FC', 'Guaireña FC', 'Club Atlético Central Córdoba',
       'Amiens SC', 'Hyderabad FC', 'Petrolul Ploiești',
       'Club Always Ready', 'Portsmouth', 'GD Chaves', 'Sydney FC',
       'Aberdeen', 'Albacete BP', 'Bengaluru FC', 'Sunderland',
       'FC Emmen', 'Lechia Gdańsk', 'Gangwon FC', 'La Equidad',
       'Tianjin Jinmen Tiger FC', 'Arsenal de Sarandí', 'Oxford United',
       'Barracas Central', 'FK Austria Wien', 'Unión Española',
       'Brisbane Roar', 'AFC UTA Arad', 'Newcastle Jets', 'FC Volendam',
       'Club Nacional', 'Barnsley', 'Kalmar FF', 'Mumbai City FC',
       'Mushuc Runa', 'Jagiellonia Białystok', 'Meizhou Hakka',
       'FC U Craiova 1948', 'RZ Pellets Wolfsberger AC', 'Cracovia',
       'FC Annecy', 'Dundee United', 'Seraing', 'SC Cambuur', 'Südtirol',
       'CD Antofagasta', 'Wisła Płock',
       'Club Deportivo Oriente Petrolero', 'Sangju Sangmu FC',
       'FC Nordsjælland', 'Grenoble Foot 38', 'FC Goa', 'Radomiak Radom',
       'Wycombe Wanderers', 'TSV 1860 München', 'Excelsior',
       'Barcelona Sporting Club', 'Independiente Petrolero',
       'SV Waldhof Mannheim 07', 'HJK Helsinki', 'Ipswich Town',
       'Estudiantes de Mérida', 'St. Johnstone FC', 'Widzew Łódź',
       'Rodez Aveyron Football', 'Royal Pari', 'IFK Göteborg',
       'SG Dynamo Dresden', 'Ayacucho', 'FC Botoşani', 'Śląsk Wrocław',
       'VfL Osnabrück', 'Club Deportivo Jorge Wilstermann',
       'Rapid București', 'Seongnam FC', 'Odense Boldklub',
       'Sepsi OSK Sf. Gheorghe', 'Wellington Phoenix', 'Chennaiyin FC',
       'Delfín Sporting Club', 'Deportivo La Guaira FC',
       'Kerala Blasters FC', 'Sarpsborg 08 FF', 'TSV Egger Glas Hartberg',
       'Stade Lavallois Mayenne FC', 'FC Erzgebirge Aue',
       'Rot-Weiß Essen', 'Cittadella', 'Bolton Wanderers',
       'Miedź Legnica', 'Deportivo Táchira FC', 'Viborg FF',
       'Hallescher FC', 'Strømsgodset IF', 'Metropolitanos de Caracas FC',
       'Montevideo Wanderers', 'GIF Sundsvall', 'AC Horsens',
       'Cheltenham Town', '1. FC Saarbrücken', 'Pau FC', 'Fleetwood Town',
       'Odisha FC', 'Jamshedpur FC', 'RKC Waalwijk',
       'Central Coast Mariners', 'Dalian Professional Football Club',
       'St. Mirren', 'İstanbulspor', 'WSG Tirol', '9 de Octubre',
       'Zagłębie Lubin', 'Milton Keynes Dons', 'Morecambe',
       'Hermanos Colmenarez', 'Charlton Athletic', 'Shamrock Rovers',
       'Club Deportivo Guabirá', 'FC Voluntari', 'AFC Chindia Târgoviște',
       'Aalesunds FK', 'Plymouth Argyle', 'Caracas Fútbol Club',
       'Motherwell', 'Viktoria Köln', 'Cerro Largo Fútbol Club',
       'Wrexham AFC', 'SC Bastia', 'Universitatea Cluj', 'Odds BK',
       'Sport Boys', 'US Quevilly Rouen Métropole', 'Austria Lustenau',
       'MSV Duisburg', 'FSV Zwickau', 'Colchester United',
       'Accrington Stanley', 'Campionii FC Arges', 'Ross County FC',
       'Kilmarnock', 'SV Elversberg', 'Hebei FC', 'Sandefjord Fotball',
       'Bradford City', 'Warta Poznań', 'SV Meppen',
       'SC Rheindorf Altach', 'VfB Oldenburg', 'PGE FKS Stal Mielec',
       'Salford City', 'Helsingborgs IF', 'Tromsø IL',
       'SK Austria Klagenfurt', 'SC East Bengal FC', 'Shrewsbury Town',
       'Forest Green Rovers', 'IK Sirius', 'FK Haugesund',
       'Cambridge United', 'AFC Hermannstadt', 'Port Vale',
       'General Caballero (JLM)', 'IFK Värnamo', 'FC Winterthur',
       'SC Freiburg II', 'Kristiansund BK', 'Livingston FC',
       'Lincoln City', 'Tranmere Rovers', 'Burton Albion',
       'SV Wehen Wiesbaden', 'Borussia Dortmund II', 'Derry City',
       'Leyton Orient', 'AFC Wimbledon', 'Degerfors IF',
       'Northampton Town', 'Korona Kielce', "St. Patrick's Athletic",
       'Mansfield Town', 'Swindon Town', 'Exeter City', 'Dundalk FC',
       'Hamarkameratene', 'Harrogate Town', 'Doncaster Rovers',
       'Hartlepool United', 'Crawley Town', 'Bristol Rovers',
       'Sligo Rovers', 'Mjällby AIF', 'Sportclub Verl',
       'Varbergs BoIS FC', 'NorthEast United FC', 'Gillingham',
       'CS Mioveni', 'Stevenage', 'Crewe Alexandra', 'Newport County',
       'Stockport County', 'Rochdale', 'Carlisle United', 'Bohemian FC',
       'SpVgg Bayreuth', 'FK Jerv', 'Walsall', 'Grimsby Town',
       'Sutton United', 'Barrow', 'Finn Harps', 'Drogheda United',
       'Shelbourne FC', 'UCD AFC'], dtype=object)

In [29]:
elit_clubs = ['Paris Saint-Germain', 'Real Madrid CF', 'FC Barcelona','Manchester City',
              'Liverpool', 'Manchester United','Tottenham Hotspur', 'FC Bayern München',
              'Chelsea','Borussia Dortmund', 'Juventus', 'Sevilla FC', 'Atlético de Madrid',
              'Inter', 'AC Milan', 'Arsenal']

In [30]:
sub_elit = ['Lazio','Roma', 'Villarreal CF', 'RB Leipzig','Leicester City',
            'Bayer 04 Leverkusen',  'Galatasaray SK','Ajax', 'AS Monaco','Napoli',
            'PSV', 'SL Benfica',  'Valencia CF','FC Porto', 'Olympique de Marseille',
            'Sporting CP','Fiorentina', 'Olympique Lyonnais']

In [31]:
average = ['Real Betis Balompié','Athletic Club de Bilbao','Newcastle United','Real Sociedad',
           'Aston Villa','Wolverhampton Wanderers', 'Palmeiras', 'Atalanta','Everton',
           'Crystal Palace','Eintracht Frankfurt', 'Trabzonspor','Flamengo',
           'Clube Atlético Mineiro','Sport Club Corinthians Paulista', 'Fulham',
           'RSC Anderlecht',  'Southampton', 'Montpellier Hérault SC', 'OGC Nice',
           'Borussia Mönchengladbach', 'SC Braga', 'Leeds United', 'VfL Wolfsburg',
           'West Ham United', 'Fluminense''Fenerbahçe SK','Beşiktaş JK']

In [32]:
df.loc[df['Club'].isin(elit_clubs), 'Club'] = 3

df.loc[df['Club'].isin(sub_elit), 'Club'] = 2
df.loc[df['Club'].isin(average), 'Club'] = 1

df.loc[df['Club'].isin([1,2,3]) == False, 'Club'] = 0

In [33]:
df['ClubJoined'] = df['ClubJoined'] - 2002

In [34]:
df

,ID,Age,Height,Weight,Nationality,Overall,Potential,BaseStats,Club,WageEUR,...,RM,CM,LM,CAM,RW,RF,CF,LF,LW,ST
0,158023,35,169,67,3,91,91,452,3,195000,...,0,0,0,1,3,0,0,0,0,0
1,165153,34,185,81,3,91,91,455,3,450000,...,0,0,0,0,0,0,3,0,0,2
2,188545,33,185,81,0,91,91,458,3,420000,...,0,0,0,0,0,0,0,0,0,4
3,192985,31,181,70,3,91,91,483,3,350000,...,0,3,0,1,0,1,0,0,0,0
4,231747,23,182,73,3,91,95,470,3,230000,...,0,0,0,0,0,0,0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16473,243725,21,174,68,0,47,56,274,0,500,...,1,0,0,1,0,0,0,0,0,1
16474,261933,17,175,60,0,47,57,267,0,500,...,0,0,0,0,0,0,0,0,0,0
16475,267823,18,170,65,0,47,67,277,0,500,...,1,1,0,0,0,0,0,0,0,0
16476,267824,17,178,65,0,47,61,226,0,500,...,0,0,0,0,0,0,0,0,0,0
16477,261424,25,176,66,0,47,50,269,0,500,...,0,0,0,0,0,0,0,0,0,0

# EVALUATION

In [35]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV

In [36]:
DF = df.copy()

In [37]:
df['ground_truth'] = y

In [38]:
df = df.sort_values('ground_truth')

In [39]:
X = df.values
X

array([[268985, 26, 180, ..., 0, 0, 0],
       [270564, 29, 175, ..., 2, 0, 0],
       [243666, 23, 180, ..., 1, 0, 0],
       ...,
       [228702, 25, 180, ..., 0, 0, 116500000],
       [239085, 21, 195, ..., 0, 4, 148000000],
       [231747, 23, 182, ..., 1, 4, 190500000]], dtype=object)

In [40]:
X = df.values
y_Normalized = (y-y.mean())/y.std()
X_Normalized = (X-X.mean())/X.std()

In [41]:
R = Ridge(alpha=1.0)
cross_val = RepeatedKFold(n_splits=10, n_repeats=5, random_state=1)

In [42]:
r2 = RidgeCV(alphas=[0.001, 0.01, 0.1, 1, 10]).fit(X_Normalized, y_Normalized)

In [43]:
mse = cross_val_score(R, X_Normalized, y_Normalized, cv=cross_val, scoring='neg_mean_squared_error')
print(f"MSE: {(np.mean(-mse)):.3f}")

mae = cross_val_score(R, X_Normalized, y_Normalized, cv=cross_val, scoring='neg_mean_absolute_error')
print(f"MAE: {(np.mean(-mae)):.3f}")

R2 = r2.score(X_Normalized, y_Normalized)
print(f"R^2: {(np.mean(R2)):.3f}")

MSE: 0.983
MAE: 0.422
R^2: 0.020